<html>
  <head>
    <title>Public Garden</title>

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div id="p5-canvas"></div>
    <%- include('nav.ejs') %>
    <h1 class="public">Public Garden</h1>
    <script src="/Flower_Mosaic/p5.js"></script>
    <!-- <script src="/Flower_Mosaic/p5.sound.min.js"></script> -->
    <script src="/Flower_Mosaic/sketch.js"></script>
  </body>
</html>
